{% extends 'common/base.njk' %}

{% block body %}
<div id="main" style="width: 1024px;height: 768px;"></div>
{% endblock %}

{% block script %}
<script src="http://echarts.baidu.com/dist/echarts.js"></script>
<script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
<script src="public/main/index.js"></script>

{% endblock %}
